<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Detail</title>
</head>
<body>
This page should have all the pages a category contains
{% extends "base.html" %}

{% block content %}
 <br/>
  Name: {{ category.name }}




  <p><strong>Pages:</strong></p> {% for page in category.pages.all %}
      <ul>
    <li>
        <a href="{{ page.get_absolute_url }}"> {{ page }} </a>

    </li>
      {% if not forloop.last %} <br/> {% endif %}{% endfor %}
    </ul>


{% endblock %}

</body>
</html>