<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>
THis is a page

{% extends "base.html" %}

{% block content %}
<h1>Name: {{ page.name }} <a href="{% url 'page_update' page.id %}" >[ Modify page ] </a></h1>

  <p><strong>Page Content:</strong> <a href="">{{ page.page_content }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Created_date:</strong> {{ page.created_date }}</p>
  <p><strong>Modified date:</strong> {{ page.last_updated_date }}</p>
  <p><strong>Categories:</strong>
      {% for category in page.categories.all %} {{ category }}
  {% if not forloop.last %}, {% endif %}{% endfor %}</p>


{% endblock %}



</body>
</html>